<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Boss Battle</title>
    <link rel="stylesheet" th:href="@{boss.css}" type="text/css">
</head>
<body>
<div id="gameTitle">
    <h2 id="fordTitle">Ford Game</h2>
</div>
<div id="nextPageButton">
    <div>
        <a th:text="${next}" style="color: #fff9f8" th:href="@{/finalResult}"></a>
    </div>
</div>

<div id="bossField">
    <div id="bossCard">
    <h3>Chrysler Head Hunter</h3>
    <p th:text="${deoxysName}"></p>
    <img th:src="${deoxysSprite.getFront_default()}" id="gravelerImage">
    </div>

    <div id="storyCard">
        <h4>
            An employee from the Chrysler Recruiting Department casually walks up to your window as you’re stopped at another
            red light. She offers you a position with Chrysler at double your current salary with Ford. You politely
            decline her offer, but she is infuriated. The employee says that if GM can’t have you, neither can Ford…
            Looks like you’ve got another battle on your hands.
        </h4>
    </div>
</div>

<div id="battleActionField">
    <h2><u>Battle Action Response</u></h2>
    <h3 th:text="${result2}"></h3>
</div>

<div id="playerDetailsContainer">
    <div id="details">
        <h3 id="detailBanner">Pokemon Details:</h3>
        <ul id="pokemonDetails">
            <li th:text="'Name: ' + ${pikachuName}"></li>
            <li th:text="'Pokemon ID: ' + ${pikachuId}"></li>
            <li th:text="'Weight: ' + ${pikachuWeight}"></li>
            <li th:text="'Exp. Points: ' + ${pikachuBaseExperience}"></li>
        </ul>
    </div>

    <div id="moves">
        <h3 id="moveBanner">Moves</h3>
        <div id="moveContainer">
            <form action="userMoveChoice2" method="get">
                <div id="allMoves">
                    <input class="moves" type="radio" name="moveChoice2" value="y" required> F-150 Terrain
                    Tackle </input>
                    <br>
                    <input class="moves" type="radio" name="moveChoice2" value="x" required> Henry Ford Hurdle </input>
                    <br>
                    <input class="moves" type="radio" name="moveChoice2" value="x" required> Mustang Trample </input>
                    <br>
                    <input class="moves" type="radio" name="moveChoice2" value="x" required> Ford Fusion Beam </input>
                    <br>
                    <input class="moves" type="submit" value="Attack" name="attackSubmit">
                </div>
            </form>
        </div>

        <br>
    </div>

    <div id="sprite">
        <img th:src="${pikachuSprite.getBack_default()}" id="pikachuImage" alt="pikachu">
    </div>

</div>

</body>
</html>