<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Boss Battle</title>
    <link rel="stylesheet" th:href="@{main.css}" type="text/css">
</head>
<body>
<div id="gameTitle">
    <h1>Showdown. The Clock is Ticking!</h1>
</div>
<div id="quizQuestionsBox">
    <h1>boss sprite and info will go here</h1>
</div>
<div id="quizDetailsContainer">
    <div id="battleResponse"><p>live battle response</p></div>
</div>
<div id="playerDetailsContainer">
    <div id="details">
        <h1>details</h1>
    </div>
    <div id="moves">
        <h1>moves</h1>
    </div>
    <div id="sprite">
        <img th:src="${pikachuSprite.getFront_default()}" alt="pikachu">
    </div>
</div>
</body>
</html>