<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Boss Battle</title>
    <link rel="stylesheet" th:href="@{boss.css}" type="text/css">
</head>
<body>
<div id="gameTitle">
    <h2 id="fordTitle">Ford Game</h2>
</div>

<div id="bossField">
    <h3>GM Manager</h3>
    <p th:text="${gravelerName}"></p>
    <img th:src="${gravelerSprite.getFront_default()}" id="gravelerImage" alt="graveler">
    <div>
        <p th:text="${next}"></p>
    </div>
</div>

<div id="battleActionField">
    <h2><u>Battle Action Responds</u></h2>
    <h3 th:text="${result}"></h3>
</div>

<div id="playerDetailsContainer">
    <div id="details">
        <h1>Pokemon Details:</h1>
        <ul id="pokemonDetails">
            <li th:text="'Name: ' + ${pikachuName}"></li>
            <li th:text="'Pokemon ID: ' + ${pikachuId}"></li>
            <li th:text="'Weight: ' + ${pikachuWeight}"></li>
            <li th:text="'Exp. Points: ' + ${pikachuBaseExperience}"></li>
        </ul>
    </div>

    <div id="moves">
        <h1>moves</h1>
        <div id="moveContainer">
            <form action="userMoveChoice" method="get">
                <div id="allMoves">
                    <input class="moves" type="radio" name="moveChoice" value="x" required> Move 1 </input>
                    <input class="moves" type="radio" name="moveChoice" value="x" required> Move 2 </input>
                    <input class="moves" type="radio" name="moveChoice" value="x" required> Move 3 </input>
                    <input class="moves" type="radio" name="moveChoice" value="y" required> Move 4 </input>
                    <input class="moves" type="submit" value="Attack" name="attackSubmit">
                </div>
            </form>
        </div>

    </div>

    <div id="sprite">
        <img th:src="${pikachuSprite.getBack_default()}" id="pikachuImage" alt="pikachu">
    </div>

</div>

</body>
</html>