<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz2</title>
    <link rel="stylesheet" th:href="@{main.css}" type="text/css">
</head>
<body>
<div id="gameTitle">
    <h1>Pop Quiz!</h1>
</div>
<div id="quizQuestionsBox">
    <h1>Quiz Questions will show here:</h1>
</div>
<div id="quizDetailsContainer">
    <div id="quizResponse"><p>question response</p></div>
    <div id="quizForm">
        <form>
            Enter Response Here:<br>
            <input type="text" name="answer"><br>
        </form>
    </div>
</div>
<div id="playerDetailsContainer">
    <div id="details">
        <h1>details</h1>
    </div>
    <div id="moves">
        <h1>moves</h1>
    </div>
    <div id="sprite">
        <img th:src="${pikachuSprite.getFront_default()}" alt="pikachu">
    </div>
</div>
</body>
</html>