<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="playerDetailsContainer">
    <div id="details">
        <h1 th:text="${result}"></h1>
    </div>
    <div id="moves">
        <h1>moves</h1>
        <form action="userMoveChoice" method="get">
            <input type="radio" name="moveChoice" value="x"  required> Move 1 </input>
            <input type="radio" name="moveChoice" value="x"  required> Move 2 </input>
            <input type="radio" name="moveChoice" value="x"  required> Move 3 </input>
            <input type="radio" name="moveChoice" value="y"  required> Move 4 </input>
            <input type="submit" value="Attack" name="attackSubmit">
        </form>
    </div>
    <div id="sprite">
        <img th:src="${pikachuSprite.getFront_default()}" alt="pikachu">
    </div>
</div>
</body>
</html>